body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font{
  font-family: 'Almarai', sans-serif;
}


.fontHeader{
  font-family: 'Almarai', sans-serif;
  font-weight:600;
  font-size: 30px;
  color: white;
  padding-right: 30px;
  padding-top: 10px;
}

.fontTitle{
  font-family: 'Almarai', sans-serif;
  font-weight:600;
  font-size: 30px;
  padding: 2%;
  margin-right: -80px;

}
.itemPlace{
  margin-bottom: 30px;
  background-color: rgb(246, 247, 248);
  border: 1px solid orange; 
  border-radius: 10px;
  overflow: hidden;
}

.itemPlace :hover{
  background-color: rgb(209, 206, 199);
  cursor: pointer;
}
 


.fontDesc{
  font-family: 'Almarai', sans-serif;
  font-weight:600;
  font-size: 15px;
  color: rgb(165, 165, 165);
  display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
margin-right: -60px;

}

.fontContent{
  font-family: 'Almarai', sans-serif;
  font-weight:600;
  font-size: 30px;
  color: rgb(9, 69, 148);
  padding-top: 10px;
  text-align: center;
}

.imageItem{
  margin-right: -13px;
  border-radius: 20px;
}


.imageItem img{
  width: 300px;
}
.categoryButton{
  background-color: white;
  color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  font-family: 'Almarai', sans-serif;
  height: 40px;
  text-align: center;
  font-size: larger;
  font-weight: 550;
  margin: 3px;

}

.categoryButton:hover{
  color: white;
  background: orange;
  border: 1px solid orange;
  border-radius: 10px;
  font-family: 'Almarai', sans-serif;

}


.borderDisplay{
  border:2px solid rgb(223, 153, 23);
  width: 220px;
  text-align: center;
  position: relative;
  border-radius: 30px;

}

.btnSearch{
  background-color: rgb(212, 142, 12);
  color: white;
  border-radius: 10px;
  margin-right: 10px;
}

.btnSearch:hover{
  color: rgb(212, 142, 12);
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
}
.formHeader{
  right: 1000px;
  position: relative;
}

.HeaderNav{
  background-color: rgba(60, 60, 60, 0.933);

}



.rectangle{
  background-color: aliceblue;
  height: 550px;
  width: 1100px;
  margin: 20px;
  border-radius: 30px;
  overflow: auto;
  scrollbar-track-color: black;
  overflow-x: hidden;
}

.style{
  background-color: rgb(79, 126, 177);
  border-radius: 30px;
  width: 300px;
  margin-right: -80px;
  margin-left: 260px;
}


.style:hover{
  background-color: rgb(236, 239, 243);
  border-radius: 30px;
  width: 300px;
  margin-right: -80px;
  margin-left: 260px;
    font-weight: bold;
  
}
.image{
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin: 10px;
  margin-bottom: 20px;
  
}
.item{
  background-color: aquamarine;
  margin: 30px;
  border-radius: 30px;
  width: 1030px;
  height: 100px;
  cursor: pointer;

}


.item:hover{
  background-color: aquamarine;
  margin: 30px;
  border-radius: 30px;
  width: 785px;
  height: 100px;
  cursor: pointer;
  zoom:130%;
  
}
.font{
  padding-left:300px ;
  font-size: 18px;
  margin-top: -35px;
  margin-right: 90px;
  top: -10px;
  position: relative;
}